{
  "Mqtt": {
    //https://www.home-assistant.io/integrations/mqtt/#discovery-messages
    "ClientId": "",
    "NodeId": "elitesx2mqtt",

    "Server": "",

    "Username": "",
    "Password": ""
  },
  "EliteSx": {
    "IpAddress": "",
    "Username": "",
    "Password": ""
  },
  //Optional https://docs.sentry.io/platforms/dotnet/guides/extensions-logging/
  "Sentry": {
    "Dsn": null
  }
}